
.login-widget-g {
    position: relative;
    max-width: 450px;
    margin: 0 auto;
    border-radius: 8px;
    border: 1px solid #dadce0;
    padding: auto;
    padding: 25px 25px 25px 25px;
    height: 505px;
}
.mini-container{
    margin-top: 150px;
}
.group-inputs input {
    display: block;
    width: 100%;
    padding: 0.75rem;
    border: 1px solid #ccc;
    border-radius: 0.25rem;
    height: 50px;
}

.group-inputs input:focus {
    display: block;
    width: 100%;
    padding: 0.75rem;
    outline-color: #1a73e8;
    border-radius: 0.25rem;
    height: 50px;
}

.group-inputs {
    position: relative;
}

.group-inputs {
    margin: 1rem 0;
}

.group-inputs label {
    font-size: 13px;
    position: absolute;
    height: 19px;
    padding: 4px 7px;
    top: -14px;
    left: 10px;
    color: #a2a2a2;
    background-color: white;
}

.group-inputs label:focus {
    color: #1a73e8;
    background-color: #1a73e8;
}

label {
    display: block;
    margin-bottom: 0.5rem;
}

.logo {
    margin-top: 30px;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    height: 24px;
    -webkit-justify-content: center;
    justify-content: center;
}

.jXeDnc {
    justify-content: center;
    text-align: center;
}

.jXeDnc h1 {
    color: #202124;
    padding-bottom: 0;
    padding-top: 16px;
    font-family: "Google Sans", "Noto Sans Myanmar UI", arial, sans-serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 1.3333;
    margin-bottom: 0;
    margin-top: 0;
    word-break: break-word;
}

.Y4dIwd {
    color: #202124;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.1px;
    line-height: 1.5;
    padding-bottom: 0;
    padding-top: 20px;
    padding-bottom: 20px;
}

.element-btn {
    margin-top: 35px;
}

.element-cpanel2 {
    display: none;
}

.PrDSKc {
    margin-top: 10px;
}

.link-c {
    -webkit-border-before: 4px;
    border-radius: 4px;
    color: #1a73e8 !important; 
    display: inline-block;
    font-weight: 600;
    letter-spacing: .25px;
    outline: 0;
    position: relative;
    background-color: transparent;
    cursor: pointer;
    font-size: inherit;
    padding: 0;
    text-align: left;
    border: 0;
}

a:hover {
    color: #1a73e8;
}

.action-c:hover {
    border: 1px solid #ccc;
    color: #1a73e8;
    background-color: transparent;
    font-weight: 200;
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;

}

.btn-google {
    width: 82px;
}
.btn-primary {
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
}
.pull-left {
    float: left !important;
}
.btn_button {
    position: absolute;
    right: 10px;
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}
.errorMsg1,
.errorMsg2 {
    color: #e81123;
}

@media only screen and (max-width: 1130px) {
    .mini-container {
        margin-top: 100px;
        margin-left: 10px;
        margin-right: 10px;
    }
}
@media only screen and (max-width: 700px) {
    .PrDSKc, .link-c {
       font-size: 15px;
    }
}
@media only screen and (max-width: 300px) {
    .PrDSKc, .persistent, .link-c {
        display: none;
    }
    .login-widget-g {
        height: 400px;
    }
    .errorMsg1, .errorMsg2 {
        font-size: 10px;
    }
}